body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

img {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
}

button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
}

.top-content,
.info,
.quote,
.bottom-banner-box,
.footer {
    padding: 0 200px;
}

.top-content,
.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    gap: 325px;
    padding: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 10px;
}

.header-links a:nth-of-type(1),
.header-links a:nth-of-type(2) {
    margin-right: 20px;
}

.header-links a:last-of-type {
    margin-right: 0;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 50px
        /* justify-content: space-between; */
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 450px;
    /* flex-basis: 50%; */
    margin-top: 50px;
    margin-bottom: 100px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 5px 0px;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0px;
}

.hero-signup-button {
    font-weight: 800px;
    margin: 5px 0px;
    align-self: flex-start;
    padding: 5px 20px;
    border-radius: 5px;
}

.hero-image-container {
    display: flex;
    color: #E5E7EB;
    /* flex-basis: 50%; */
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}

.space-invaders {
    display: flex;
    width: 350px;
    /* border: 2px solid #3882F6; */
    /* border-radius: 5px; */
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding: 50px;
    /* border: 2px solid red; */
}

.info-link-row {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 100px;
    /* border: 2px solid red; */
}

.info-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
}

.info-link-image {
    justify-self: center;
    align-self: center;
    height: auto;
    width: 175px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /* border: 2px solid red; */
}

.info-link-image:hover {
    opacity: .5;
}

.info-link-text {
    text-align: center;
    font-size: 12px;
    width: 200px;
    padding: 10px;
    /* border: 2px solid red; */
}

.quote {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    /* border: 2px solid red; */
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 900px;
    justify-self: center;
    /* border: 2px solid red; */
}

.quote-attribution {
    align-self: flex-end;
    margin-top: 25px;
    font-weight: 900px;
    /* border: 2px solid red; */
}

.bottom-banner-box {
    display: flex;
    justify-content: center;
}

.bottom-banner {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    width: 900px;
    margin: 75px 0px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.bottom-banner-content {
    color: #E5E7EB;
    margin: 25px 0px;
    justify-content: center;
    /* border: 2px solid red; */
}

.bottom-banner-title {
    display: flex;
    font-weight: 800px;
    /* border: 2px solid red; */
}

/* .bottom-banner-text {
    border: 2px solid red;
} */

.bottom-banner-signup-button {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    font-weight: 800px;
    margin: 5px 0px;
    align-self: center;
    padding: 5px 20px;
}

.footer-container {
    /* display: flex; */
    /* justify-content: center; */
}

.footer {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    align-items: center;
    /* border: 2px solid red; */
}